<p-toast position="ui-toast-center"></p-toast>
<div class="animated zoomIn">
    <p-table id="ourTbale" [value]="entities" #dt >
        <ng-template pTemplate="caption">

            <h2 class="text-center">{{title}}</h2>
           

          
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="code_grade"> ر.ب.ت.و
                    <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                </th>
                <th [pSortableColumn]="code_grade"> الرتبة
                    <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                </th>
                <th [pSortableColumn]="prenomEl"> الإسم و اللقب
                    <p-sortIcon [field]="prenomEl" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                </th>
              
               
            </tr>
        </ng-template>
        <ng-template     pTemplate="body" let-row>
            <tr>
                <td>{{row.cinEl}}</td>
                <td>{{row.grade.libelle_grade}}</td>
                <td>{{row.prenomEl}}&nbsp;{{row.nomEl}}</td>
               
                
            </tr>
        </ng-template>
    </p-table>
 
    
</div>