<p-toast position="ui-toast-center"></p-toast>
<div class="animated zoomIn">
    <p-table id="ourTbale" [value]="entities" #dt selectionMode="single" [paginator]="true"
        [rowsPerPageOptions]="[5,10,20]" [rows]="10" [globalFilterFields]="['categorieGrade','libelle_grade']">
        <ng-template pTemplate="caption">
            <h2 class="text-center">قائمة  المبيتات </h2>
            <div style="text-align: left">
                <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL"
                    (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()"
                    class="ui-button-warning"></button>

            </div>
            <div style="text-align: right">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="محرك البحث "
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th [pSortableColumn]="code_grade">  المبيت
                    <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">


                    </p-sortIcon>

                </th>
                <th [pSortableColumn]="code_grade">  عدد الأسرة

                  <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">


                  </p-sortIcon>

              </th>

                <th><button  [disabled]="currentUserRole!='ROLE_MANIPULATION'  && currentUserRole!='ROLE_ADMIN'"    class="btn btn-primary" style="width:50px" (click)="addConge()"> <i class="icon-plus"></i>
                    </button></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{row.nomFoyer}}</td>
                <td>{{row.capaciteFoyer}}</td>
                <td>
                    <button  [disabled]="currentUserRole!='ROLE_MANIPULATION'  && currentUserRole!='ROLE_ADMIN'"    class="btn btn-danger" (click)="delete(row)"> <i class="icon-trash"></i></button>
                    <button  [disabled]="currentUserRole!='ROLE_MANIPULATION'  && currentUserRole!='ROLE_ADMIN'"   class="btn btn-success" (click)="edit(row)" style="margin-left: 20px;"> <i
                            class="icon-pencil"></i></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
