
<div class="animated zoomIn">
  <div class="card card-accent-primary">
    <div class="card-header">
      <h2 class="text-center">إدراج إختبار نفسي</h2>
    </div>
    <div class="card-body">

      <div class="col-md-6 user-container">


        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="nomTestpsy">إسم  الإخنبار النفسي:</label>
            <input formControlName="nomTestpsy" name="nomTestpsy" class="form-control" id="nomTestpsy">
          </div>
          <button [disabled]="currentUserRole!='ROLE_PSYCHO'  && currentUserRole!='ROLE_ADMIN'"   class="btn btn-success"><i class="icon-plus"></i></button>
        </form>
      </div>

    </div>

  </div>

</div>
