<p-card *ngIf="tabclickedMedicale">
  <p-toast position="ui-toast-center"></p-toast>

  <div class="ui-g ui-fluid">

    <div class="ui-g-8 ui-md-8">
      <div class="animated zoomIn">
        <p-table id="ourTbale" [value]="entities" #dt selectionMode="single" [paginator]="true"
          [rowsPerPageOptions]="[5,10,20]" [rows]="5" [globalFilterFields]="['vaccin.nomVaccin','dateVaccin']">
          <ng-template pTemplate="caption">
            <h2 class="text-center"> الراحات الطبية خلال التكوين
            </h2>

            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="محرك البحث "
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="code_grade"> الراحات الطبية
                <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">


                </p-sortIcon>

              </th>
              <th [pSortableColumn]="code_grade"> من
                <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">


                </p-sortIcon>

              </th>
              <th [pSortableColumn]="code_grade"> إلى
                <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">


                </p-sortIcon>

              </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{row.medicale.nomMedicale}}</td>
              <td>{{row.dateDebutRepo}}</td>
              <td>{{row.dateFinRepo}}</td>
              <td>
                <button class="btn btn-danger" (click)="delete(row)"> <i class="icon-trash"></i></button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="ui-g-4 ui-md-4">
      <div class="animated zoomIn">
        <div class="card card-accent-primary">
          <div class="card-header">
            <h2 class="text-center"> إدراج راحة طبية</h2>
          </div>
          <div class="card-body">

            <div class="col-md-6 user-container">


              <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">

                <div class="form-group">
                  <label for="medicale"> نوع الراحة الطبية:</label>

                  <p-dropdown [options]="medicale" formControlName="medicale" placeholder=" إختيارالراحة الطبية"></p-dropdown>
                </div>

                <div class="form-group">
                  <label for="dateDebutRepo"> من:</label>
                  <input type="date" formControlName="dateDebutRepo" name="dateDebutRepo" class="form-control"
                    id="dateDebutRepo">
                </div>
                <div class="form-group">
                  <label for="nomPenalite"> إلى:</label>
                  <input type="date" formControlName="dateFinRepo" name="dateFinRepo" class="form-control"
                    id="dateFinRepo">
                </div>

                <button [disabled]="currentUserRole!='ROLE_SANTE'  && currentUserRole!='ROLE_ADMIN'"  class="btn btn-success"><i class="icon-plus"></i></button>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</p-card>
