<div class="card card-accent-primary">
    <div class="card-header">
      <h2 class="text-center">إدراج </h2>
    </div>
    <div class="card-body">
      <div class="col-md-6 user-container">
  
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  
  
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                رقم الدورة *:
              </div>
              <div class="ui-grid-col-8">
  
                <p-dropdown (onChange)="onChangeSession($event)" [options]="session" placeholder="إختيار الدورة" formControlName="session" [filter]="true"
                  id="session" name="session"></p-dropdown>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                إسم الفوج *:
              </div>
              <div class="ui-grid-col-8">
  
                <p-dropdown (onChange)="onChangeGroup($event)" [options]="group" placeholder="إختيار الفوج" formControlName="group" [filter]="true"
                  id="group" name="group"></p-dropdown>
              </div>
            </div>
  
  
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                رقم السرية *:
              </div>
              <div class="ui-grid-col-8">
  
                <p-dropdown  [options]="company" placeholder="إختيار السرية" formControlName="company" [filter]="true"
                  id="company" name="company"></p-dropdown>

              </div>
            </div>
  
            <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  رقم الفصيل *:
                </div>
                <div class="ui-grid-col-8">
                  <input type="number" formControlName="numSection" name="numSection" class="form-control" id="numSection">
    
                </div>
              </div>
    
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                آمر الفصيل *:
              </div>
              <div class="ui-grid-col-8">
                <input type="text" formControlName="commandSection" name="commandSection" class="form-control"
                  id="commandSection">
  
              </div>
            </div>
  
  
  
          </div>
  
  
          <p-button type="ngSubmit" icon="pi pi-plus" label="نسجيل"></p-button>
  
        </form>
      </div>
  
    </div>
  
  </div>