<div class="container-fluid fadeIn">
  <br>
  
  <div class="row">
    <div class="col-sm-5 col-lg-5 col-md-5">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">
            <h3>{{countAccepted}}</h3>
          </div>
          <div>
            <h5>العدد الجملي للمقبولين </h5>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="lineChart2Data" [labels]="lineChart2Labels"
            [options]="lineChart2Options" [colors]="lineChart2Colours" [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
    <!--/.col-->
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
    <!--/.col-->
    <!--/.col-->
    <div class="col-sm-5 col-lg-5 col-md-5">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">
            <h3>{{countPresSelected}}</h3>
          </div>
          <div>
            <h5> لم يتم قبولهم بعد </h5>
          </div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas baseChart class="chart" [datasets]="barChart1Data" [labels]="barChart1Labels"
            [options]="barChart1Options" [colors]="barChart1Colours" [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <div class="row">
    <!--/.col-->
    <div class="col-sm-5 col-lg-5 col-md-5">
      <div class="brand-card">
        <div class="brand-card-header bg-linkedin">
          <h3 style="color: white;"> المقبولين حسب الجنس </h3>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData3" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{countOfBoyAccepted}}</div>
            <div class="text-uppercase  ">
              <h6>ذكور</h6>
            </div>
          </div>
          <div>
            <div class="text-value">{{countOfGirlAccepted}}</div>
            <div class="text-uppercase  ">
              <h6> إناث</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <!--/.col-->
    <div class="col-sm-2 col-lg-2 col-md-2"></div>
    <!--/.col-->
    <div class="col-sm-5 col-lg-5 col-md-5">
      <div class="brand-card">
        <div class="brand-card-header bg-google-plus">
          <h3 style="color: white;"> لم يتم قبولهم بعد حسب الجنس</h3>
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="brandBoxChartData4" [labels]="brandBoxChartLabels"
              [options]="brandBoxChartOptions" [colors]="brandBoxChartColours" [legend]="brandBoxChartLegend"
              [chartType]="brandBoxChartType"></canvas>
          </div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-value">{{countOfBoypPreSelected}}</div>
            <div class="text-uppercase  ">
              <h6>ذكور</h6>
            </div>
          </div>
          <div>
            <div class="text-value">{{countOfGirlPreSelected}}</div>
            <div class="text-uppercase  ">
              <h6> إناث</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
 
  <div class="row">
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10">
      <div class="card">
        <div class="card-header">
          <h4> التوزيع حسب الولايات</h4>
          <div class="card-header-actions">
            <a href="#">
              <small class="text-muted"></small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="barChartDataByGov" [labels]="barChartLabelsByGov"
              [options]="barChartOptionsByGov" [legend]="barChartLegendByGov" [chartType]="barChartTypeByGov"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
    <div class="col-sm-10 col-lg-10 col-md-10">
      <div class="card">
        <div class="card-header">
          <h4>معدل الأعمار</h4>
          <div class="card-header-actions">
            <a href="#">
              <small class="text-muted"></small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1 col-lg-1 col-md-1"></div>
  </div>
  
 
 

  <br>
  <br>
  <br>
  <!--<div class="row">


    <div class="card" width="400" height="400">
      <div class="card-header">
        إحصائيات حسب الجنس
        <div class="card-header-actions">
          <a href="#">
            <small class="text-muted"></small>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-wrapper">
          <canvas baseChart class="chart" [data]="pieChartDataBySex" [labels]="pieChartLabelsBySex"
            [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>

    </div>

  </div>-->
  <br>
  <br>
  <br>
  <div class="row">
    <app-list-eleve></app-list-eleve>
  </div>
</div>