<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />

<div *ngIf="tabclickedMesuration" class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">اللباس العسكري</div>

                        <div class="banner-img">
                            <img src="assets/img/avatars/bagage.jpg" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>إستلام </strong> 12:30 12/011/2019
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>تسليم</strong>
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>56</strong>الحذاء
                            </div>

                            <div>
                                <strong>48</strong> قميس
                            </div>

                            <div>
                                <strong>67</strong> سروال
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>32</strong> زي القتال
                            </div>

                            <div>
                                <strong>20</strong> النطاق
                            </div>

                            <div>
                                <strong>42</strong> قبعة
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>46</strong> مريول صيفي
                            </div>

                            <div>
                                <strong>42</strong> مريول صوفي
                            </div>

                            <div>
                                <strong>125</strong> جوارب
                            </div>

                        </div>

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">تحين</a>
                            <a href="#" class="Cbtn Cbtn-danger">حذف</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
