<p-card *ngIf="tabclickedTestpsy">
  <p-toast position="ui-toast-center"></p-toast>

  <div class="ui-g ui-fluid">

    <div class="ui-g-8 ui-md-8">
      <div class="animated zoomIn">
        <p-table id="ourTbale" [value]="entities" #dt selectionMode="single" [paginator]="true"
          [rowsPerPageOptions]="[5,10,20]" [rows]="5" [globalFilterFields]="['testpsy.nomTestpsy','dateTestpsy','remarque']">
          <ng-template pTemplate="caption">
            <h2 class="text-center">  الإختبارات النفسية خلال التكوين
            </h2>

            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="50" placeholder="محرك البحث "
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="code_grade"> الإختبار النفسي
                <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">


                </p-sortIcon>

              </th>
              <th [pSortableColumn]="code_grade"> التاريخ
                <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">


                </p-sortIcon>

              </th>
              <th [pSortableColumn]="code_grade"> الملاحظات
                <p-sortIcon [field]="code_grade" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order">


                </p-sortIcon>

              </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-row>
            <tr>
              <td>{{row.testpsy.nomTestpsy}}</td>
              <td>{{row.dateTestpsy}}</td>
              <td>{{row.remarque}}</td>
              <td>
                <button class="btn btn-danger"  [disabled]="currentUserRole!='ROLE_PSYCHO'  && currentUserRole!='ROLE_ADMIN'"   (click)="delete(row)"> <i class="icon-trash"></i></button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="ui-g-4 ui-md-4">
      <div class="animated zoomIn">
        <div class="card card-accent-primary">
          <div class="card-header">
            <h2 class="text-center"> إدراج إختبار نفسي</h2>
          </div>
          <div class="card-body">

            <div class="col-md-6 user-container">


              <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm.value)">

                <div class="form-group">
                  <label for="testpsy"> نوع الإختبار النفسي:</label>

                  <p-dropdown [options]="testpsy" formControlName="testpsy" placeholder=" إختيارالغختبار النفسي"></p-dropdown>
                </div>

                <div class="form-group">
                  <label for="dateTestpsy"> التاريخ:</label>
                  <input type="date" formControlName="dateTestpsy" name="dateTestpsy" class="form-control"
                    id="dateTestpsy">
                </div>
                <div class="form-group">
                  <label for="remarque"> الملاحظات:</label>
                  <input  formControlName="remarque" name="remarque" class="form-control"
                    id="remarque">
                </div>

                <button  [disabled]="currentUserRole!='ROLE_PSYCHO'  && currentUserRole!='ROLE_ADMIN'"     class="btn btn-success"><i class="icon-plus"></i></button>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</p-card>
